* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3b3b3b;
}

img {
  width: 100%;
  height: auto;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #f44336;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  cursor: default;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  cursor: default;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  cursor: default;
}

.hero-image {
  position: relative;
  z-index: 0;
}

.btn {
  display: inline-block;
  background-color: #f44336;
  color: #fff;
  padding: 8px 28px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #f0f0f0;
  color: #f44336;
  border-radius: 10px;
  transform: scale(0.95);
  cursor: pointer;
  box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.3);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding: 100px 50px;
}

.about-text {
  flex-basis: 50%;
  cursor: default;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: default;
}

.about-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: default;
}

.about-img {
  flex-basis: 40%;
}

.meer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  cursor: default;
}

.meer-text {
  flex-basis: 50%;
  cursor: default;
}

.meer-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: default;
}

.meer-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: default;
}

.meer-img {
  flex-basis: 40%;
}

.meer-img img {
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.meer-img:hover img {
  width: 100%;
  transform: scale(1.03);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.about-img img {
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.about-img:hover img {
  width: 100%;
  transform: scale(1.03);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.features {
  padding: 100px 50px;
  text-align: center;
  cursor: default;
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: default;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  cursor: default;
}

.feature-box {
  flex-basis: 30%;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 15px;
  border: 3px solid #f0f0f0; /* oranje kleur voor de rand */
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.1),
              0px -1px 25px rgba(0, 0, 0, 0.1),
              1px 0px 25px rgba(0, 0, 0, 0.1),
              -1px 0px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.feature-box:hover {
  transform: translateY(-10px);
  border-radius: 20x;
  cursor: default;
  background-color: #e6e6e6;
  border: 3px solid #f44336; /* oranje kleur voor de rand */
  transform: scale(1.05);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.feature-box img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.3),
              1px 0px 25px rgba(0, 0, 0, 0.3),
              -1px 0px 25px rgba(0, 0, 0, 0.3);
}

.feature-box:hover img {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3),
              0px -6px 20px rgba(0, 0, 0, 0.3),
              2px 0px 20px rgba(0, 0, 0, 0.3),
              -2px 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.03) translateY(-50px);
  border-radius: 20px;
}

.feature-box h3 {
  font-size: 1.5rem;
  transition: all 0.5s ease;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: default;
}

.feature-box:hover h3 {
  transform: scale(1.15) translateY(-20px);
  font-weight: bold;
  cursor: default;
}

.feature-box p {
  font-size: 1.2rem;
  transition: all 0.5s ease;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: default;
}

.feature-box:hover p {
  color: #333;
  cursor: default;
}

footer {
  background-color: #333; /* achtergrondkleur van de footer */
  color: #f0f0f0;
  padding: 20px;
  text-align: center;
  height: 80px; /* hoogte van de footer */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3),
              0px -10px 10px rgba(0, 0, 0, 0.3),
              0px 0px 0px rgba(0, 0, 0, 0.3),
              -0px 0px 0px rgba(0, 0, 0, 0.3);
}

footer a {
  color: inherit;
}


footer p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-img {
    margin-top: 50px;
  }
  .feature-row {
    flex-direction: column;
  }
  .feature-box {
    flex-basis: 80%;
    margin-bottom: 50px;
  }
  footer {
    height: 100px; /* hoogte van de footer op kleinere schermen */
  }
}

.btn-footer {
  display: inline-block;
  background-color: #333; /* achtergrondkleur van de footer */
  color: #f0f0f0;
  padding: 4px 16px;
  font-size: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: default;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 1.0s ease;
  border: 2px solid #f44336; /* oranje kleur voor de rand */
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-footer:hover {
  background-color: #3333339a;
  color: #f44336;
  border-radius: 8px;
  transition: all 1.0s ease;
  cursor: default;
  transform: scale(1.03);
  padding-right: 225px; /* knop naar rechts uitrekken */
  padding-left: 225px; /* knop naar links uitrekken */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.btn-footer {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  cursor: default;
  border-radius: 5px;
  transition: all 1.0s ease;
  font-size: 14px;
}

.about-heading {
  display: flex;
  align-items: center;
}

.about-gif {
  margin-left: 10px;
  max-width: 100%;
  height: auto;
  width: 50px; /* pas de breedte van de afbeelding aan */
}

.about-text {
  margin-top: 20px;
  cursor: default;
}

.slide {
  position: relative;
  height: 300px; /* of een andere hoogte die je wilt gebruiken */
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  position: relative;
  width: 100%;
  height: 300px; /* dezelfde hoogte als de slide-divs */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.3),
              1px 0px 25px rgba(0, 0, 0, 0.3),
              -1px 0px 25px rgba(0, 0, 0, 0.3);
}

.video-container:hover video {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3),
              0px -6px 20px rgba(0, 0, 0, 0.3),
              2px 0px 20px rgba(0, 0, 0, 0.3),
              -2px 0px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.03) translateY(-50px);
  border-radius: 20px;
}